body {
	--outline-color: #c00;
	--drop-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='25' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.4' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

* {
	font-family: arial, sans;
}

.ui-droppable-hover {
	border-radius: 10px;
	background-clip: content-box;

	outline: 1px dashed var(--outline-color);
	background-color: #fff; /* #ece8f2 */
	background-image: var(--drop-image);
}

body .vhand-compact img.ui-droppable-hover {
	padding-right: 0px;
}

body .vhand-compact img.card:first-child {
	/* override default padding on cardsjs 
	 * or else drag and drop will have an extra border on the right 
	 */
	padding-right: 0px;
}

.ui-draggable-dragging {
	z-index: 110;
	opacity: 0.5;
}

body .hand img.card-code-EMPTY:nth-child(1) {
	background: url(cardsJS/dist/cards/BLANK.svg);
	background-size: contain;
	background-repeat: no-repeat;
	/*
	outline: 2px solid var(--outline-color);
	*/
}

body .hand:not(.fan) img.card-code-EMPTY:nth-child(n+1) {
	z-index: 100;
	position: relative;
	padding-top: 0px;
}

body .hand.hhand-compact img.card-code-EMPTY:nth-child(n+1) {
	margin-top: 10px;
}

.card-over-droppable {
	outline: 3px dash var(--outline-color);
}

@keyframes card-dropped {
	100% {
		top: 0px;
		left: 0px;
	}
}
.card.card-dropped {
	z-index: 200;
	animation: card-dropped 0.5s ease;
}

.no-card-on-stack .card-back {
	visibility: hidden;
}

.last-card-on-stack .card-back:nth-child(1):not(:last-child) {
	visibility: hidden;
}

.stack-full .card-code-EMPTY {
	visibility: hidden;
}

.player-area {
	padding: 15px;
	border-radius: 10px;
	margin: 4px;
	width: fit-content;
	border: 1px solid #ccc;
	display: inline-block;
}

.ace-stacks {
	padding: 15px;
	border-radius: 10px;
	margin: 4px auto;
	width: fit-content;
	border: 1px solid #ccc;
}

.fan {
	min-width: 100px;
	margin: 0px 4px;
}

.hide-area {
	display: none;
}

/***** Player *****/

.player-name {
	margin: 0px;
}

.next-move:not(.next-move-ok) {
	color:  #f00;
}

.take-stack {
	min-width: 100px;
}

.player-main-row, .drop-stacks, .player-stats {
	display: inline-block;
	vertical-align: top;
}

.player-stats li {
	list-style: none;
}

/* used in player stats */
.no-count {
	display: none;
}

/***** Lobby *****/

.instructions  {
	text-align: left;
	margin: 0px auto;
}
.lobby-area {
	min-width: 400px;
	text-align: center;
}

.players-count {
	width: 40px;
}


/**********/
